# Үй жұмысы. Pandas Тапсырмалар жинағы:
# Өз қалауыңызша кемінде 5 есепті орындаңыз

Бұл ноутбук Pandas кітапханасының негізгі функциялары бойынша практикалық дағдыларды дамытуға арналған 20 тапсырманы қамтиды:

* **Series** және **DataFrame** құру.
* Индексациялау және деректерді таңдау (**loc, iloc**).
* Шарт бойынша сүзу.
* Топтастыру (**groupby**) және агрегаттау.
* Кестелерді біріктіру (**merge, join, concat**).

---

## 1-БӨЛІМ: Сериялар (Series) және Деректер Фреймдерін (DataFrame) Құру

### Тапсырма 1: Pandas импорты және Series құру

Pandas кітапханасын импорттаңыз және 5 элементтен тұратын (мысалы, қала атаулары) индексі жоқ қарапайым Pandas Series құрыңыз. Серияны басып шығарыңыз.

In [ ]:
import pandas as pd

# 5 қала атауынан тұратын Series құру
cities = pd.Series(["Almaty", "Astana", "Shymkent", "Aqtobe", "Taraz"])

# Серияны басып шығару
print(cities)

0      Almaty
1      Astana
2    Shymkent
3      Aqtobe
4       Taraz
dtype: object

### Тапсырма 2: DataFrame құру

Келесі деректерді пайдаланып DataFrame құрыңыз:
* **Атауы (Name)**: ['Әли', 'Мәдина', 'Қайрат', 'Айгүл']
* **Жасы (Age)**: [25, 30, 22, 35]
* **Қаласы (City)**: ['A', 'B', 'A', 'C']

DataFrame-ді `df` айнымалысына сақтап, оны басып шығарыңыз.

In [1]:
import pandas as pd

# Берілген деректер
names = ['Әли', 'Мәдина', 'Қайрат', 'Айгүл']
ages = [25, 30, 22, 35]
cities = ['A', 'B', 'A', 'C']

# DataFrame құру
df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'City': cities
})

# Нәтижені шығару
print(df)

     Name  Age City
0     Әли   25    A
1  Мәдина   30    B
2  Қайрат   22    A
3   Айгүл   35    C

## 2-БӨЛІМ: Индексациялау, Таңдау және Шарт бойынша Сүзу

### Тапсырма 3: Бір бағанды таңдау

`df` DataFrame-нен тек **'Name'** бағанын таңдап, оны басып шығарыңыз. Нәтиже Series болуы керек.

In [3]:
import pandas as pd

# Тек 'Name' бағанын таңдау (Series болуы керек)
name_series = df['Name']

print(name_series)

0       Әли
1    Мәдина
2    Қайрат
3     Айгүл
Name: Name, dtype: object

### Тапсырма 4: loc арқылы жолдар мен бағандарды таңдау
`df` DataFrame-нен **тек 'Age' және 'City' бағандарын** таңдап, **тек бірінші және үшінші жолдарды** (0 және 2 индекс) шығарыңыз. `loc` әдісін қолданыңыз.

### Тапсырма 5: iloc арқылы таңдау

`df` DataFrame-нен **барлық жолдарды** және **екінші және үшінші бағандарды** (1 және 2 индекс) шығарыңыз. `iloc` әдісін қолданыңыз.

In [4]:
# Тек Age және City бағандарын, 0 және 2 жолдарын таңдау
result = df.loc[[0, 2], ['Age', 'City']]
print(result)

   Age City
0   25    A
2   22    A

### Тапсырма 6: Шарт бойынша сүзу

`df` DataFrame-нен жасы **25-тен үлкен** (`Age > 25`) барлық адамдарды сүзіңіз. Нәтижені басып шығарыңыз.

### Тапсырма 7: Күрделі шарт бойынша сүзу

`df` DataFrame-нен **'City' бағаны 'A' немесе 'City' бағаны 'B' және 'Age' бағаны 30-ға тең** (`City == 'A'` немесе (`City == 'B'` және `Age == 30`)) болатын барлық жолдарды сүзіңіз.

In [5]:
filtered_df = df[df['Age'] > 25]
print(filtered_df)

     Name  Age City
1  Мәдина   30    B
3   Айгүл   35    C

## 3-БӨЛІМ: Топтастыру (groupby) және Агрегаттау

### Тапсырма 8: Жаңа DataFrame дайындау

Келесі деректерден жаңа `sales_df` DataFrame-ін жасаңыз:
* **Өнім (Product)**: ['A', 'B', 'A', 'C', 'B', 'C']
* **Аймақ (Region)**: ['Солтүстік', 'Оңтүстік', 'Оңтүстік', 'Солтүстік', 'Солтүстік', 'Оңтүстік']
* **Сатылымдар (Sales)**: [100, 150, 120, 80, 200, 90]

### Тапсырма 9: Бір баған бойынша топтастыру және қосынды

`sales_df` DataFrame-дегі **'Product'** бойынша топтастырыңыз және әр өнімнің **жалпы сатылымын** (қосындысын) есептеңіз. Нәтижені басып шығарыңыз.

### Тапсырма 10: Көп баған бойынша топтастыру және орташа мән

`sales_df` DataFrame-дегі **'Product' және 'Region'** бойынша топтастырыңыз және әр комбинация үшін **орташа сатылымды** есептеңіз. Нәтижені басып шығарыңыз.

### Тапсырма 11: Бірнеше агрегаттық функция

`sales_df` DataFrame-дегі **'Region'** бойынша топтастырыңыз және әр аймақ үшін **жалпы сатылымдарды (sum), сатылымдардың орташа мәнін (mean)** және **сатылымдардың ең көп санын (max)** есептеңіз. `agg` әдісін қолданыңыз.

## 4-БӨЛІМ: Кестелерді Біріктіру (Merge, Join, Concat)

### Тапсырма 13: Жаңа DataFrame-лер дайындау

Біріктіру үшін екі жаңа DataFrame құрыңыз:

1.  `df1` (Пайдаланушы ақпараты):
    * **id**: [1, 2, 3, 4]
    * **Name**: ['Аян', 'Бек', 'Сара', 'Дәурен']
2.  `df2` (Тапсырыс ақпараты):
    * **user_id**: [2, 1, 4, 5, 3]
    * **Order**: ['Өнім X', 'Өнім Y', 'Өнім Z', 'Өнім V', 'Өнім W']

### Тапсырма 14: Ішкі біріктіру (Inner Merge)

`df1` мен `df2` DataFrame-лерін **ішкі біріктіру (inner merge)** арқылы біріктіріңіз. Біріктіру кілті ретінде `df1`-дегі **'id'** және `df2`-дегі **'user_id'** бағандарын пайдаланыңыз. Тек екі кестеде де бар пайдаланушылардың деректері қалуы керек.

### Тапсырма 15: Сол жақтан біріктіру (Left Merge)

`df1` мен `df2` DataFrame-лерін **сол жақтан біріктіру (left merge)** арқылы біріктіріңіз. Барлық пайдаланушылардың деректері (`df1`) сақталуы керек, ал сәйкес тапсырысы жоқтар үшін NaN мәні қойылуы керек.

### Тапсырма 16: Толық біріктіру (Outer Merge)

`df1` мен `df2` DataFrame-лерін **толық біріктіру (outer merge)** арқылы біріктіріңіз. Екі кестедегі барлық деректер сақталуы керек. Сәйкес келмейтін жерлер NaN-мен толтырылуы керек.

### Тапсырма 17: Concat арқылы біріктіру

Жаңа `df3` DataFrame-ін құрыңыз:
* **id**: [5, 6]
* **Name**: ['Марат', 'Назира']
Содан кейін `pd.concat` әдісін қолданып, `df1` мен `df3`-ті **жолдар бойынша** біріктіріңіз.

## 5-БӨЛІМ: Аралас және Қиын Тапсырмалар

### Тапсырма 18: Жаңа бағанды есептеу және сүзу

Бастапқы `df` DataFrame-іне келесі деректерді қосыңыз:
* **Salary**: [50000, 60000, 45000, 70000]
Жаңа **'Bonus'** бағанын есептеңіз, ол **'Salary' бағанының 10%** құрайды. Содан кейін тек **'Salary' 50000-нан жоғары** адамдарды таңдаңыз.

### Тапсырма 19: Көп сатылы агрегаттау және сүзу
`sales_df` DataFrame-дегі **'Region'** бойынша топтастырыңыз. Тек **орташа сатылымы 100-ден жоғары** (`mean() > 100`) аймақтарды ғана таңдап, олардың жалпы сатылымын (sum) көрсетіңіз. `groupby().filter()` немесе `groupby().agg()` және сүзуді қолданыңыз.