1. Series ‚Äî –Ω–µ–≥—ñ–∑–≥—ñ —Ç–∞–ø—Å—ã—Ä–º–∞–ª–∞—Ä

In [10]:
import pandas as pd
# temperatures –¥–µ–≥–µ–Ω Series –∂–∞—Å–∞“£—ã–∑. –Ü—à—ñ–Ω–¥–µ “õ–∞–ª–∞ —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–∞–ª–∞—Ä—ã –±–æ–ª—Å—ã–Ω:
#–ê–ª–º–∞—Ç—ã: 5
#–ê—Å—Ç–∞–Ω–∞: ‚Äì3
#–®—ã–º–∫–µ–Ω—Ç: 7
#–û—Å—ã Series-—Ç—ñ —ç–∫—Ä–∞–Ω“ì–∞ —à—ã“ì–∞—Ä—ã“£—ã–∑.
temperatures=pd.Series([5, -3, 7])
print(temperatures)
#–ê–ª–º–∞—Ç—ã–Ω—ã“£ —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–∞—Å—ã–Ω –∏–Ω–¥–µ–∫—Å—Ç—ñ“£ –∫”©–º–µ–≥—ñ–º–µ–Ω –∞–ª—ã“£—ã–∑.
print(f'Almaty:{temperatures[0]}')
#–¢–µ–º–ø–µ—Ä–∞—Ç—É—Ä–∞—Å—ã 0-–¥–µ–Ω –∂–æ“ì–∞—Ä—ã “õ–∞–ª–∞–ª–∞—Ä–¥—ã —Å“Ø–∑—ñ“£—ñ–∑.
filtered=temperatures[temperatures>0]
print(filtered)

0    5
1   -3
2    7
dtype: int64
Almaty:5
0    5
2    7
dtype: int64

2. DataFrame ‚Äî –∫–µ—Å—Ç–µ–º–µ–Ω –∂“±–º—ã—Å

In [11]:
#–°—Ç—É–¥–µ–Ω—Ç—Ç–µ—Ä —Ç—É—Ä–∞–ª—ã DataFrame –∂–∞—Å–∞“£—ã–∑:
import pandas as pd

# –°—Ç—É–¥–µ–Ω—Ç—Ç–µ—Ä–¥—ñ“£ –¥–µ—Ä–µ–∫—Ç–µ—Ä—ñ
data = {
    "name": ["Aigerim", "Dias", "Miras", "Dana"],
    "age": [20, 22, 21, 19],
    "score": [88, 92, 75, 95]
}

df = pd.DataFrame(data)
print(df)

      name  age  score
0  Aigerim   20     88
1     Dias   22     92
2    Miras   21     75
3     Dana   19     95

In [12]:
#–ñ–∞—Å—ã 20-–¥–∞–Ω –∂–æ“ì–∞—Ä—ã —Å—Ç—É–¥–µ–Ω—Ç—Ç–µ—Ä–¥—ñ —Ç–∞“£–¥–∞“£—ã–∑.
age_filtered = df[df["age"] > 20]
print(age_filtered)

    name  age  score
1   Dias   22     92
2  Miras   21     75

In [13]:
#–ë–∞“ì–∞–Ω–¥–∞—Ä–¥—ã —Ç–µ–∫ name –∂”ô–Ω–µ score –µ—Ç—ñ–ø —à—ã“ì–∞—Ä—ã“£—ã–∑.
name_score = df[["name", "score"]]
print(name_score)

      name  score
0  Aigerim     88
1     Dias     92
2    Miras     75
3     Dana     95

In [14]:
#–ï“£ –∂–æ“ì–∞—Ä—ã –±–∞–ª–ª –∂–∏–Ω–∞“ì–∞–Ω —Å—Ç—É–¥–µ–Ω—Ç—Ç—ñ“£ –∞—Ç—ã–Ω —Ç–∞–±—ã“£—ã–∑.
top_student = df.loc[df["score"].idxmax(), "name"]
print("–ï“£ –∂–æ“ì–∞—Ä—ã –±–∞–ª–ª –∂–∏–Ω–∞“ì–∞–Ω —Å—Ç—É–¥–µ–Ω—Ç:", top_student)

–ï“£ –∂–æ“ì–∞—Ä—ã –±–∞–ª–ª –∂–∏–Ω–∞“ì–∞–Ω —Å—Ç—É–¥–µ–Ω—Ç: Dana

3. –ò–Ω–¥–µ–∫—Å–∞—Ü–∏—è –∂”ô–Ω–µ —Ç–∞“£–¥–∞—É

In [15]:
#iloc –∞—Ä“õ—ã–ª—ã 3-–∂–æ–ª–¥—ã“£ 2-–±–∞“ì–∞–Ω—ã–Ω –∞–ª—ã“£—ã–∑.
value = df.iloc[2, 1]
print("iloc –Ω”ô—Ç–∏–∂–µ—Å—ñ:", value)
#loc –∫”©–º–µ–≥—ñ–º–µ–Ω —Å—Ç—É–¥–µ–Ω—Ç—Ç—ñ“£ –∞—Ç—ã ‚ÄúDias‚Äù –±–æ–ª“ì–∞–Ω –∂–æ–ª–¥—ã —à—ã“ì–∞—Ä—ã“£—ã–∑.
dias_row = df.loc[df["name"] == "Dias"]
print(dias_row)

iloc –Ω”ô—Ç–∏–∂–µ—Å—ñ: 21
   name  age  score
1  Dias   22     92

4. –®–∞—Ä—Ç –±–æ–π—ã–Ω—à–∞ —Å“Ø–∑—É

In [16]:
#–î”ô—Ä—ñ–ª–µ—Ä —Ç—É—Ä–∞–ª—ã DataFrame –∂–∞—Å–∞“£—ã–∑:
import pandas as pd

data = {
    "drug": ["A", "B", "C", "D"],
    "price": [1200, 800, 600, 2000],
    "amount": [5, 10, 3, 8]
}

df = pd.DataFrame(data)
#–ë–∞“ì–∞—Å—ã 1000 —Ç–µ“£–≥–µ–¥–µ–Ω “õ—ã–º–±–∞—Ç –¥”ô—Ä—ñ–ª–µ—Ä–¥—ñ —à—ã“ì–∞—Ä—ã“£—ã–∑.
expensive = df[df["price"] > 1000]
print(expensive)
#–ë–∞“ì–∞—Å—ã 600-800 –∞—Ä–∞–ª—ã“ì—ã–Ω–¥–∞“ì—ã –¥”ô—Ä—ñ–ª–µ—Ä–¥—ñ —Ç–∞“£–¥–∞“£—ã–∑.
mid_range = df[(df["price"] >= 600) & (df["price"] <= 800)]
print(mid_range)
#“ö–æ—Ä–¥–∞“ì—ã —Å–∞–Ω—ã (amount) 5-—Ç–µ–Ω –∞–∑ –¥”ô—Ä—ñ–ª–µ—Ä–¥—ñ —à—ã“ì–∞—Ä—ã“£—ã–∑.
low_stock = df[df["amount"] < 5]
print(low_stock)

  drug  price  amount
0    A   1200       5
3    D   2000       8
  drug  price  amount
1    B    800      10
2    C    600       3
  drug  price  amount
2    C    600       3

5. Groupby ‚Äî —Ç–æ–ø—Ç–∞—Å—Ç—ã—Ä—É

In [17]:
import pandas as pd

# “ö—ã–∑–º–µ—Ç–∫–µ—Ä–ª–µ—Ä –∫–µ—Å—Ç–µ—Å—ñ–Ω –∂–∞—Å–∞—É
data = {
    "name": ["Ayan", "Dana", "Miras", "Aida", "Timur"],
    "department": ["IT", "HR", "IT", "HR", "Sales"],
    "salary": [400000, 300000, 450000, 320000, 280000]
}

df = pd.DataFrame(data)

# 1) ”ò—Ä –±”©–ª—ñ–º –±–æ–π—ã–Ω—à–∞ –æ—Ä—Ç–∞—à–∞ –∂–∞–ª–∞“õ—ã
avg_salary = df.groupby("department")["salary"].mean()
print("–û—Ä—Ç–∞—à–∞ –∂–∞–ª–∞“õ—ã:\n", avg_salary)

# 2) ”ò—Ä –±”©–ª—ñ–º–¥–µ–≥—ñ “õ—ã–∑–º–µ—Ç–∫–µ—Ä–ª–µ—Ä —Å–∞–Ω—ã
dept_count = df.groupby("department")["name"].count()
print("\n“ö—ã–∑–º–µ—Ç–∫–µ—Ä–ª–µ—Ä —Å–∞–Ω—ã:\n", dept_count)

# 3) –ï“£ –∂–æ“ì–∞—Ä—ã –æ—Ä—Ç–∞—à–∞ –∂–∞–ª–∞“õ—ã—Å—ã –±–∞—Ä –±”©–ª—ñ–º
highest = avg_salary.idxmax()
print("\n–ï“£ –∂–æ“ì–∞—Ä—ã –∂–∞–ª–∞“õ—ã—Å—ã –±–∞—Ä –±”©–ª—ñ–º:", highest)

–û—Ä—Ç–∞—à–∞ –∂–∞–ª–∞“õ—ã:
 department
HR       310000.0
IT       425000.0
Sales    280000.0
Name: salary, dtype: float64

“ö—ã–∑–º–µ—Ç–∫–µ—Ä–ª–µ—Ä —Å–∞–Ω—ã:
 department
HR       2
IT       2
Sales    1
Name: name, dtype: int64

–ï“£ –∂–æ“ì–∞—Ä—ã –∂–∞–ª–∞“õ—ã—Å—ã –±–∞—Ä –±”©–ª—ñ–º: IT

6. –ê–≥—Ä–µ–≥–∞—Ç—Ç–∞—É (sum, mean, max, min)

In [20]:
import pandas as pd

# “ö—ã–∑–º–µ—Ç–∫–µ—Ä–ª–µ—Ä –∫–µ—Å—Ç–µ—Å—ñ–Ω –∂–∞—Å–∞—É
df = pd.DataFrame({
    "name": ["Ayan", "Dana", "Miras", "Aida", "Timur"],
    "department": ["IT", "HR", "IT", "HR", "Sales"],
    "salary": [400000, 300000, 450000, 320000, 280000]
})

# 1) ”ò—Ä –±”©–ª—ñ–º “Ø—à—ñ–Ω –∂–∞–ª–∞“õ—ã–Ω—ã“£ –µ“£ –∫—ñ—à—ñ—Å—ñ –º–µ–Ω –µ“£ –∂–æ“ì–∞—Ä“ì—ã—Å—ã
salary_min_max = df.groupby("department")["salary"].agg(["min", "max"])
print("”ò—Ä –±”©–ª—ñ–º –±–æ–π—ã–Ω—à–∞ min/max –∂–∞–ª–∞“õ—ã:\n", salary_min_max, "\n")

# 2) ”ò—Ä –±”©–ª—ñ–º–¥–µ–≥—ñ –∂–∞–ª–∞“õ—ã–Ω—ã“£ —Å—É–º–º–∞—Å—ã–Ω –µ—Å–µ–ø—Ç–µ—É
salary_sum = df.groupby("department")["salary"].sum()
print("”ò—Ä –±”©–ª—ñ–º –±–æ–π—ã–Ω—à–∞ –∂–∞–ª–∞“õ—ã —Å—É–º–º–∞—Å—ã:\n", salary_sum)

”ò—Ä –±”©–ª—ñ–º –±–æ–π—ã–Ω—à–∞ min/max –∂–∞–ª–∞“õ—ã:
                min     max
department
HR          300000  320000
IT          400000  450000
Sales       280000  280000

”ò—Ä –±”©–ª—ñ–º –±–æ–π—ã–Ω—à–∞ –∂–∞–ª–∞“õ—ã —Å—É–º–º–∞—Å—ã:
 department
HR       620000
IT       850000
Sales    280000
Name: salary, dtype: int64

7. –ö–µ—Å—Ç–µ–ª–µ—Ä–¥—ñ –±—ñ—Ä—ñ–∫—Ç—ñ—Ä—É (merge, join, concat)

In [21]:
import pandas as pd

# students –∫–µ—Å—Ç–µ—Å—ñ
students = pd.DataFrame({
    "id": [1, 2, 3],
    "name": ["Aigerim", "Dias", "Ayan"]
})

# scores –∫–µ—Å—Ç–µ—Å—ñ
scores = pd.DataFrame({
    "id": [1, 2, 3],
    "math": [88, 75, 95],
    "physics": [90, 80, 92]
})

#–ï–∫—ñ –∫–µ—Å—Ç–µ–Ω—ñ id –±–æ–π—ã–Ω—à–∞ –±—ñ—Ä—ñ–∫—Ç—ñ—Ä—ñ“£—ñ–∑ (merge).
merged_df = pd.merge(students, scores, on="id")
print("üîπ merge –Ω”ô—Ç–∏–∂–µ—Å—ñ:")
print(merged_df)

üîπ merge –Ω”ô—Ç–∏–∂–µ—Å—ñ:
   id     name  math  physics
0   1  Aigerim    88       90
1   2     Dias    75       80
2   3     Ayan    95       92

In [22]:
#–ò–Ω–¥–µ–∫—Å—Ç—ñ id –µ—Ç—ñ–ø “õ–æ–π—ã–ø, join() “õ–æ–ª–¥–∞–Ω—ã–ø –±—ñ—Ä—ñ–∫—Ç—ñ—Ä—ñ“£—ñ–∑.
students_indexed = students.set_index("id")
scores_indexed = scores.set_index("id")

joined_df = students_indexed.join(scores_indexed)
print("\nüîπ join –Ω”ô—Ç–∏–∂–µ—Å—ñ:")
print(joined_df)

üîπ join –Ω”ô—Ç–∏–∂–µ—Å—ñ:
       name  math  physics
id
1   Aigerim    88       90
2      Dias    75       80
3      Ayan    95       92

In [23]:
#concat() “õ–æ–ª–¥–∞–Ω—ã–ø students –∫–µ—Å—Ç–µ—Å—ñ–Ω –µ–∫—ñ —Ä–µ—Ç –∞—Ä—Ç—ã–Ω–∞–Ω “õ–æ—Å—ã“£—ã–∑.
concat_rows = pd.concat([students, students], axis=0)
print("\nüîπ concat (—Ç—ñ–∫ “õ–æ—Å—É) –Ω”ô—Ç–∏–∂–µ—Å—ñ:")
print(concat_rows)

üîπ concat (—Ç—ñ–∫ “õ–æ—Å—É) –Ω”ô—Ç–∏–∂–µ—Å—ñ:
   id     name
0   1  Aigerim
1   2     Dias
2   3     Ayan
0   1  Aigerim
1   2     Dias
2   3     Ayan

In [24]:
#concat(axis=1) “õ–æ–ª–¥–∞–Ω—ã–ø students –∂”ô–Ω–µ scores –∫–µ—Å—Ç–µ—Å—ñ–Ω –±“Ø–π—ñ—Ä—ñ–Ω–µ–Ω –±—ñ—Ä—ñ–∫—Ç—ñ—Ä—ñ“£—ñ–∑.
concat_side = pd.concat([students_indexed, scores_indexed], axis=1)
print("\nüîπ concat(axis=1) –Ω”ô—Ç–∏–∂–µ—Å—ñ:")
print(concat_side)

üîπ concat(axis=1) –Ω”ô—Ç–∏–∂–µ—Å—ñ:
       name  math  physics
id
1   Aigerim    88       90
2      Dias    75       80
3      Ayan    95       92

8. “ö–∏—ã–Ω—ã—Ä–∞“õ –¥–µ“£–≥–µ–π:

In [25]:
import pandas as pd

# –ë–∞—Å—Ç–∞–ø“õ—ã –∫–µ—Å—Ç–µ
df = pd.DataFrame({
    "student": ["Aigerim", "Dias", "Ayan"],
    "math": [88, 75, 95],
    "physics": [90, 80, 92],
    "history": [78, 85, 90]
})

print("=== –ë–∞—Å—Ç–∞–ø“õ—ã DataFrame ===")
print(df)

# 1. ”ò—Ä –ø”ô–Ω –±–æ–π—ã–Ω—à–∞ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞
stats = df[["math", "physics", "history"]].agg(["min", "max", "mean", "median"])
print("\n=== ”ò—Ä –ø”ô–Ω–Ω—ñ“£ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞—Å—ã ===")
print(stats)

# 2. ”ò—Ä —Å—Ç—É–¥–µ–Ω—Ç—Ç—ñ“£ –æ—Ä—Ç–∞—à–∞ –±–∞–ª—ã
df["avg"] = df[["math", "physics", "history"]].mean(axis=1)
print("\n=== –û—Ä—Ç–∞—à–∞ –±–∞–ª—ã –±–∞—Ä DataFrame ===")
print(df)

# 3. –û—Ä—Ç–∞—à–∞ –±–∞–ª—ã 85-—Ç–µ–Ω –∂–æ“ì–∞—Ä—ã —Å—Ç—É–¥–µ–Ω—Ç—Ç–µ—Ä
high_avg = df[df["avg"] > 85]
print("\n=== –û—Ä—Ç–∞—à–∞ –±–∞–ª—ã 85-—Ç–µ–Ω –∂–æ“ì–∞—Ä—ã —Å—Ç—É–¥–µ–Ω—Ç—Ç–µ—Ä ===")
print(high_avg)

=== –ë–∞—Å—Ç–∞–ø“õ—ã DataFrame ===
   student  math  physics  history
0  Aigerim    88       90       78
1     Dias    75       80       85
2     Ayan    95       92       90

=== ”ò—Ä –ø”ô–Ω–Ω—ñ“£ —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞—Å—ã ===
        math    physics    history
min     75.0  80.000000  78.000000
max     95.0  92.000000  90.000000
mean    86.0  87.333333  84.333333
median  88.0  90.000000  85.000000

=== –û—Ä—Ç–∞—à–∞ –±–∞–ª—ã –±–∞—Ä DataFrame ===
   student  math  physics  history        avg
0  Aigerim    88       90       78  85.333333
1     Dias    75       80       85  80.000000
2     Ayan    95       92       90  92.333333

=== –û—Ä—Ç–∞—à–∞ –±–∞–ª—ã 85-—Ç–µ–Ω –∂–æ“ì–∞—Ä—ã —Å—Ç—É–¥–µ–Ω—Ç—Ç–µ—Ä ===
   student  math  physics  history        avg
0  Aigerim    88       90       78  85.333333
2     Ayan    95       92       90  92.333333